header {
    display: flex;
    background-color: #DEE0CC;
    padding: 10px;
    justify-content: space-between;
}

.logo {
    float: left;
    align-items: center;
    justify-content: left;
}

ul {
    align-content: flex-end;
    justify-content: space-between;
}

li {
    display: inline;
    font-family: 'Inter', sans-serif; 
    color: #281522;
    text-decoration: none;
    padding: 22px;
}

.hero {
    display: flex;
    align-items: center;
    justify-content:space-around;
    margin-top: 58px;
    height: 374px;
}

.about{
    width: 759px;
    height: 374px;
}

body {
    background-color:#281522;
}

p {
    color: #DEE0CC;
    font-family: 'Inter', sans-serif;
}

h1 {
    font-family: 'Aleo', serif;
    color: #DEE0CC;
    font-size: 40px;
    font-style: bold;
    letter-spacing: 5px;
    line-height: 0.1;
}

.yellow {
    color: #D7E788;
}

.big {
    font-size: 24px;
    line-height: 0.1;
}

button {
    color: #281522;
    background-color: #DEE0CC;
    height: 40px;
    width: 218px;
    border-radius: 20px;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
}

button:hover {
    background-color:#770024;
    color: #DEE0CC;
}

footer {
    display: flex;
    background-color: #281522;
    padding: 10px;
    justify-content: space-between;
}

footer .ul {
    align-content: flex-end;
    justify-content: space-between;
}

footer li {
    display: inline;
    height: 50px;
    font-family: 'Inter', sans-serif; 
    color: #281522;
    text-decoration: none;
    padding: 22px;
}